
#main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#grid-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

#color-container {
    border: 1px solid black;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.color-select, .color-animate {
    border: 1px solid black;
    flex: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
